<app-header title="Activities"></app-header>


<ion-content fullscreen class="ion-padding">
  <div class="wrap">
    <div *ngIf="loading" class="center">
      <ion-spinner></ion-spinner>
    </div>

    <ion-note
      *ngIf="!loading && !uiError && activities.length === 0"
      class="empty"
    >
      No activities yet. Tap <b>+</b> to add one.
    </ion-note>

    <ion-note color="danger" *ngIf="uiError" class="err">
      {{ uiError }}
    </ion-note>

    <div class="list" *ngIf="!loading && activities.length > 0">
      <ion-card
        class="a-card"
        *ngFor="let a of activities; trackBy: trackByActivityId"
        (click)="openActions(a)"
      >
        <ion-card-content class="a-card__content">
          <div class="a-card__main">
            <div class="a-title">{{ a.title }}</div>
            <div class="a-desc" *ngIf="a.description">{{ a.description }}</div>
          </div>

          <ion-icon class="chev" name="chevron-forward-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-modal
    [isOpen]="formOpen"
    (didDismiss)="closeForm()"
    [initialBreakpoint]="0.72"
    [breakpoints]="[0,0.72,0.9,1]"
    [backdropBreakpoint]="0.72"
    class="act-modal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title
            >{{ formMode === 'create' ? 'New activity' : 'Edit activity'
            }}</ion-title
          >
          <ion-buttons slot="end">
            <ion-button type="button" fill="clear" (click)="closeForm()"
              >Close</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="sheet">
          <ion-item>
            <ion-input
              label="Title"
              labelPlacement="stacked"
              [(ngModel)]="form.title"
              placeholder="e.g. Reading, Gym, Coding..."
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea
              label="Description (optional)"
              labelPlacement="stacked"
              autoGrow="true"
              [(ngModel)]="form.description"
              placeholder="Short note..."
            ></ion-textarea>
          </ion-item>

          <ion-note color="danger" *ngIf="uiError" class="err">
            {{ uiError }}
          </ion-note>

          <ion-button
            type="button"
            expand="block"
            (click)="submitForm()"
            [disabled]="saving || updating"
          >
            {{ (saving || updating) ? 'Please wait...' : (formMode === 'create'
            ? 'Create' : 'Save changes') }}
          </ion-button>

          <ion-button
            *ngIf="formMode === 'edit' && editingId"
            type="button"
            expand="block"
            fill="outline"
            color="danger"
            (click)="deleteActivity(editingId)"
            [disabled]="deletingId === editingId"
          >
            {{ deletingId === editingId ? 'Deleting...' : 'Delete' }}
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal
    [isOpen]="actionsOpen"
    (didDismiss)="closeActions()"
    [initialBreakpoint]="0.45"
    [breakpoints]="[0,0.45,0.65]"
    [backdropBreakpoint]="0.35"
    class="act-modal"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="actions-sheet">
          <div class="actions-title">{{ selected?.title }}</div>

          <ion-button
            type="button"
            expand="block"
            (click)="openEditFromActions()"
          >
            Edit
          </ion-button>

          <ion-button
            type="button"
            expand="block"
            fill="outline"
            color="danger"
            (click)="selectedId && deleteActivity(selectedId)"
            [disabled]="!selectedId || deletingId === selectedId"
          >
            {{ selectedId && deletingId === selectedId ? 'Deleting...' :
            'Delete' }}
          </ion-button>

          <ion-button
            type="button"
            expand="block"
            fill="clear"
            (click)="closeActions()"
            >Cancel</ion-button
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreate()" class="add-fab">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
