<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="tabbar-dock">
    <ion-tab-button tab="courses" [routerLink]="['/tabs/courses']" class="dock-btn">
      <div class="dock-slot">
        <ion-icon name="library-outline"></ion-icon>
      </div>
      <ion-label>Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activities" [routerLink]="['/tabs/activities']" class="dock-btn">
      <div class="dock-slot">
        <ion-icon name="flash-outline"></ion-icon>
      </div>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" [routerLink]="['/tabs/home']" class="dock-btn">
      <div class="dock-slot">
        <ion-icon name="home-outline"></ion-icon>
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="study-sessions" [routerLink]="['/tabs/study-sessions']" class="dock-btn">
      <div class="dock-slot">
        <ion-icon name="timer-outline"></ion-icon>
      </div>
      <ion-label>Study</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals" [routerLink]="['/tabs/goals']" class="dock-btn">
      <div class="dock-slot">
        <ion-icon name="trophy-outline"></ion-icon>
      </div>
      <ion-label>Goals</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
